body {
    background-color: white;
    font-family: sans-serif, Joan;
    font-size: 1.1vw;
}

nav {
    background-color: #4335d7;
    color: whitesmoke;
    padding: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    height: auto;
    min-height: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2.5vw;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: flex-start;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    min-font-size: 20px;
    font-size: 1.1vw;
    display: block;
    font-weight: normal;
}

nav ul li:first-child a {
    margin-left: 1.3vw;
}

nav ul li a:hover {
    color: #9b93f3;
}

.seperator {
    border-left: 2px dashed #d1d8f3;
    height: 1.6em;
    margin: 0 0.8em;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.2vw;
    margin-left: auto;
    margin-right: 0.8em;
    flex: 0 0 auto;
}

.search-container input[type="text"] {
    left: 2px;
    padding: 2px;
    border: 1px solid #818cf8;
    border-radius: 4px;
    width: 30ch;
    height: 1.3em;
    max-width: 100%;
    font-size: 1.1vw;
}
.search-container input[type="text"]::placeholder{
    color: dimgrey;
    font-size: 1vw;
}

.search-button {
    height: 1.8vw;
    width: 1.8vw;
    border: none;
    border-radius: 4px;
    background-image: url('images/Search-button.png');
    background-size: cover;
    cursor: pointer;
}

.search-button:hover {
    background-image: url('images/Search-button-hover.png');
}


.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2vw;
    margin-top: 5vw;
    margin-bottom: 4vw;
    text-align: center;
}

.about-me-image {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 1.2vw;
    background-size: cover;
    background-position: center;

}

.about-me-text {
    text-align: justify;
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.3vw;
}


footer {
    background-color: #545454;
    color: white;
    padding: 0.6vw 1.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1vw;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 10px;
    flex-wrap: wrap;
    gap: 1vw;
}

footer a:link{
    color: #d7feff;
}

.copyright-info {
    flex: 1;
    text-align: center;
    margin-right: 1vw;
}

.social-media {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-left: 1vw;
}

.social-media a {
    display: contents;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.1vw;
}

.download-cv {
    flex: 1;
    text-align: center;
    margin-left: 1vw;
}

.download-cv a {
    color: #818cf8;
    text-decoration: underline;
}


.social-media a img {
    height: 2vw;
    width: 2vw;
}



.projects-container {
    padding: 1.2vw;
    margin-top: 5vw;
    margin-bottom: 4vw;
    align-items: center;
}

.projects-container>:is(h1,p,ul) {
    margin-left: 10vw;
    margin-right: 10vw;
}

.projects-container ul {
    margin-top: 3vw;
    margin-left: 7.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5vw;
}

.project-card {
    background-color: whitesmoke;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 12vw;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card a {
    position: relative;
    left: 0;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    height: 45%;
}

.project-card a h3 {
    margin-top :0.5vw;
    font-size: 1vw;
}

.project-card h3 {
    margin-top: 0;
    margin-bottom: 0.6vw;
    color: whitesmoke;
}

.project-card p {
    margin-bottom: 0.6vw;
    color: whitesmoke;
    font-size: 0.9vw;
}

.project-card .view-button:hover {
    background-color: #a9b6ff;
}



.hobbies-interests-container {
    display: flex;
    justify-content: space-around;
    padding: 1.2vw;
    margin-top: 5vw;
    margin-bottom: 4vw;
    flex-wrap: wrap;
    gap: 1.2vw;
}

.hobbies-interests-container .seperator {
    border-left: 2px solid black;
    height: 73vh;
}


.hobbies-column {
    margin-left: 10vw;
    flex: 1;
    min-width: 250px;
}
.interests-column {
    margin-right: 10vw;
    flex: 1;
}

.hobbies-column h2, .interests-column h2 {
    text-align: center;
    margin-bottom: 20px;
}

.hobby-item {
    display: flex;
    align-items: center; /* Vertically center image and text */
    gap: 10px; /* Space between image and text */
    margin-bottom: 15px;
}

.hobby-item img {
    width: 6vw;
    height: 4vw;
    object-fit: cover;
}